nav {
	display: flex;
	padding: 22px 30px;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero--photo {
	padding: 26px 77px;
}

.hero--header {
	/* Online Experiences */
	padding-left: 36px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 110%;
	color: #000000;
}

.hero--text {
	/* Join unique interactive activities led by one-of-a-kind hosts—all without leaving home. */

	padding-left: 36px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 110%;
	color: #222222;
}
